# Logs
logs
/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Temp files
tmp
/tmp/
api/tmp
/api/tmp/

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

# Environment variables
.env
.env.local
.env.*
!.env.example
api/.env
api/.env.local
api/.env.*
!api/.env.example
aginno-video-editor-f2f3436ef570.json
*.mp4
